<?xml version="1.0"?>
<launch>
  <!-- Xbox Controller Joy Node -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
    <param name="autorepeat_rate" value="50" />
    <param name="coalesce_interval" value="0.02" />
  </node>
  
  <!-- Z1 Xbox Controller -->
  <node name="z1_xbox_control" pkg="z1_tools" type="z1_xbox_control.py" output="screen">
    <param name="mode" value="10" />
    <param name="kp" value="35.0" />
    <param name="kd" value="1.5" />
  </node>
  
  <!-- Optional: RQT Joy Monitor -->
  <!-- Uncomment to see controller input graphically -->
  <!-- <node name="rqt_plot_joy" pkg="rqt_plot" type="rqt_plot" args="/joy/axes[0]:axes[1]:axes[3]:axes[4]" /> -->
</launch>